<div class="container-inicio">
    <div class="col">
        <div class='titulo-inicio'>
            <h1>SERVICIOS INDUSTRIALES E</h1>
            <h1>IMPORTACION SPA</h1>
            <h5 class="titulo-leyenda">Somos su mejor opción en servicios ( Mantenimiento </h5>
            <h5 class="titulo-leyenda">preventivo y correctivo) Suministros, puesta en marcha,</h5>
            <h5 class="titulo-leyenda">Proyectos llave en mano, Ingeniería y Asesoría.</h5>
        </div>
        <div class="subtitulo-inicio">
            <p>
                <i class="fas fa-check"></i> Automatismo y Control de Procesos
            </p>
            <p>
                <i class="fas fa-check"></i> Electrónica y Electricidad Industrial
            </p>
            <p>
                <i class="fas fa-check"></i> Redes Industriales y Transmision de Datos
            </p>
            <p>
                <i class="fas fa-check"></i> Instrumentación
            </p>
            <p>
                <i class="fas fa-check"></i> Asesoría y Capacitación
            </p>
            <p>
                <i class="fas fa-check"></i> Montajes, llave en mano y mejoras
            </p>

        </div>
        <button routerLink="/servicios" class="btn-inicio">
              
            Más Información
            <i class="fas fa-arrow-circle-down"></i>
        </button>

    </div>

</div>
<br><br>
<section>
    <div class="container">
        <app-carrusel></app-carrusel>
    </div>
</section>