<div class="card">
    <div class="card-header">
        <h1>Listar Catalogo</h1>
    </div>
    <div class="card-body">
        <button routerLink="/agregar" type="button" class="btn btn-primary">Agregar Catálogo</button>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Imagen</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>id</td>
                    <td>nombre</td>
                    <td>descricion</td>
                    <td>imagen</td>
                    <td>
                        <a href="#" class="btn btn-success" role="button">Editar</a>
                        <a href="#" class="btn btn-danger" role="button">Eliminar</a>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>

</div>