<h1>Configuración</h1>
<br>
<div class="">
    <div class="container-fluid text-center mask">
        <div class="card-deck">
            <div class="card">
                <img src="../../../assets/img/catalogo/catalogo.png" class="img-redonda" alt="" srcset="">
                <div class="card-body">
                    <button type="button" routerLink="/listar-catalogo" class="btn btn-primary">Configurar Catálogo</button>

                </div>
            </div>
            <div class="card">
                <img src="../../../assets/img/catalogo/categorias.png" class="img-redonda" alt="" srcset="">
                <div class="card-body">
                    <button type="button" routerLink="/listar-categoria" class="btn btn-primary">Configurar Categorias</button>

                </div>
            </div>
            <div class="card">
                <img src="../../../assets/img/catalogo/producto.png" class="img-redonda" alt="" srcset="">
                <div class="card-body">
                    <button type="button" routerLink="/listar-producto" class="btn btn-primary">Configurar Productos</button>

                </div>
            </div>
            <div class="card">
                <img src="../../../assets/img/catalogo/carrusel.png" class="img-redonda" alt="" srcset="">
                <div class="card-body">
                    <button type="button" routerLink="/config-carrusel" class="btn btn-primary">Configurar Carrusel</button>

                </div>
            </div>

        </div>
    </div>
    <br><br><br><br><br>






</div>