<!-- Footer -->

<!-- <nav>
    <div class="row">
        <div class="col-6 mt-1">
            <img src="../../../assets/img/logoserdom.jpg" class="logo-footer">
            <a class="navbar-brand" href="#">SERDOM</a>
        </div>
        <div class="col-6">
            <app-sociales></app-sociales>
        </div>
    </div>
</nav> -->

<nav class="navbar">
    <div class="row align-center" aria-hidden="true">
        <div class="col-6">
            <a class="navbar-brand" href="#">SERDOM</a>
        </div>

        <div class="col-6">
            <app-sociales class="sociales"></app-sociales>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/inicio'>Inicio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink='/nosotros'>Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/servicios'>Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/catalogo'>Catálogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/contacto'>Contacto</a>
                </li>
            </ul>
        </div>
    </div>


</nav>

<!-- Copyright -->
<div class="copyright">
    © 2021 Copyright: Elaborado por: RLT SISTEMAS & CCTV SPA
</div>

<!-- Footer -->
<a class="btn-whatsapp" href="https://wa.me/+56983820094" tooltip="Escribeme a mi Whatsapp" target="/blank">
    <i class="btn-whatsapp fab fa-whatsapp fa-3x fa-spin"></i>
</a>