<div class="container-mask">
    <div class="container-contact">

        <h1>Contacto</h1>

        <div class="card">
            <div>
                <h5>
                    Datos de contacto :
                </h5>
                <br>
                <h5>
                    <i class="fas fa-mobile-alt iconocel"></i> +56 932409965
                </h5>
                <!-- <h5>
                    <i class="fas fa-mobile-alt iconocel"></i> +56 952262500
                </h5> -->
            </div>
            <div>
                <br>
                <h5>
                    <i class="fas fa-at iconomail"></i> serdom@serdom.cl
                </h5>


            </div>
            <div>
            </div>
            <div class="card">
                <div class="container">
                    <h3>
                        Estámos Ubicados aquí
                        <i class="fas fa-arrow-down"></i>
                    </h3>
                    <div>
                        <h5><i class="fas fa-map-marker-alt iconomap"></i> Monjitas 550 oficina 19 santiago
                        </h5>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.480361559508!2d-70.64735378472255!3d-33.436789504197534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5987e5f970f%3A0x3e0dd57ab5ac67a4!2sMonjitas%20550%2C%20Santiago%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1627518229572!5m2!1ses!2scl"
                        allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        <div class="card">
            <app-contact-form></app-contact-form>
        </div>
    </div>
</div>
