<div class="container p-5">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card-deck">
                    <div class="card carrusel-card">
                        <img [src]="slidesa[0].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesb[1].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesc[2].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesc[3].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                </div>
            </div>
            <div *ngIf="longitud>3 " class="carousel-item">
                <div class="card-deck">
                    <div class="card carrusel-card">
                        <img [src]="slidesa[4].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesb[5].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesc[6].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesc[7].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                </div>
            </div>
            <div *ngIf="longitud>7" class="carousel-item">
                <div class="card-deck">
                    <div class="card carrusel-card">
                        <img [src]="slidesa[8].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesb[9].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesc[10].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesc[11].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                </div>
            </div>
            <div *ngIf="longitud>11" class="carousel-item">
                <div class="card-deck">
                    <div class="card carrusel-card">
                        <img [src]="slidesa[12].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesb[13].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesc[14].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesc[15].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                </div>
            </div>
            <div *ngIf="longitud>16" class="carousel-item">
                <div class="card-deck">
                    <div class="card carrusel-card">
                        <img [src]="slidesa[16].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesb[17].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesc[18].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesc[19].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                </div>
            </div>
            <div *ngIf="longitud>19" class="carousel-item">
                <div class="card-deck">
                    <div class="card carrusel-card">
                        <img [src]="slidesa[20].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesb[21].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesc[22].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesc[23].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                </div>
            </div>
            <div *ngIf="longitud>23" class="carousel-item">
                <div class="card-deck">
                    <div class="card carrusel-card">
                        <img [src]="slidesa[24].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesb[25].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesc[26].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesc[27].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                </div>
            </div>
            <div *ngIf="longitud>27" class="carousel-item">
                <div class="card-deck">
                    <div class="card carrusel-card">
                        <img [src]="slidesa[28].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesb[29].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesc[30].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesc[31].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                </div>
            </div>
            <div *ngIf="longitud>31" class="carousel-item">
                <div class="card-deck">
                    <div class="card carrusel-card">
                        <img [src]="slidesa[32].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesb[33].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesc[34].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                    <div class="card">
                        <img [src]="slidesc[35].imagen | noImagen" [alt]="" class="card-img-top">
                    </div>
                </div>
            </div>

        </div>


        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>