.card {
    position: relative;
    width: 25%;
    height: 200px;
    padding: 0;
    margin: 0;
}

.card-img-top {
    width: 100%;
    height: 200px;
    padding: 10px;
    margin: auto;
    object-fit: contain;
}

@media screen and (max-width: 580px) {
    .card {
        width: 70%;
        height: 150px;
        margin: auto;
    }
    .card-img-top {
        width: 100%;
        height: 150px;
        padding: 10px;
        margin: auto;
        object-fit: contain;
    }
}