<div class="container container-mask">
    <h1>Nosotros</h1>
    <p>SERDOM SPA se dedica a establecer los procesos de suministro, innovación tecnológica, automatización, electricidad y electrónica industrial y emplear sus recursos con la identidad corporativa de sus clientes en cualquier ámbito, con el fin de obtener
        la credibilidad y fidelidad en el campo laboral.</p>
    <br><br><br>
    <section class="img-section-mision animated fadeIn">
        <h4>Misión</h4>
        <p>
            La misión de SERDOM SPA es establecer los procesos de innovación y análisis en el ámbito tecnológico como parámetro de capacidad y recursos con la identidad corporativa, con sus clientes y usuarios que permitirán obtener credibilidad y fidelidad de nuestro
            negocio
        </p>

    </section>

    <section class="img-section-vision">
        <h4>Visión</h4>
        <p>
            Manejamos como visión desarrollar a través del tiempo en corto, mediano y largo plazo los diversos planes de mantenimiento, negocios y oportunidades en el mercado, para ser pioneros como entidad y con el fin que se establezca dentro del plan de calidad
            y productividad
        </p>

    </section>

    <section class="img-section-principios">
        <h4>Principios</h4>
        <p>
            Nuestros principios éticos nos comprometen con nuestros clientes, abarcando todo el entorno del negocio para ofrecerles servicios de excelencia y satisfacción
        </p>

    </section>

    <section class="img-section-elegirnos">
        <h4>
            ¿Porque elegirnos?
        </h4>
        <p>
            Ingenieros y técnicos con más de 20 Años de trayectoria profesional en el área eléctrica, electrónica y control
        </p>

    </section>



    <section>
        <h4> ¿Que hacemos?</h4>
        <p>
            <i class="fas fa-check"></i> Mantenimiento correctivo
        </p>
        <p>
            <i class="fas fa-check"></i> Mantenimiento Preventivo
        </p>
        <p>
            <i class="fas fa-check"></i> Venta de suministro
        </p>
        <p>
            <i class="fas fa-check"></i> Ingeniería y asesoría de proyectos
        </p>
        <p>
            <i class="fas fa-check"></i> Servicio técnico de equipos industriales
        </p>
    </section>
    <div>
        <h4>Marcas que comercializamos</h4>
        <!-- <p>
            Con más de 30 años de trayectoria en ventas de equipos y suministros
        </p> -->
        <div class="container">
            <app-multi-carrusel></app-multi-carrusel>
        </div>
    </div>

    <br><br><br>
</div>