<div class="card">
    <div class="card-header">
        <h1>Modificar Catálogo</h1>
        <button routerLink="/listar-catalogo" type="button" class="btn btn-primary">Actualizar Catálogo</button>
    </div>
    <div class="card-body">
        <form [formGroup]="formularioCatalogo" (ngSubmit)="enviarCatalogo()" enctype="multipart/form-data">
            <div class="mb-1">
                <label for="" class="form-label">Nombre</label>
                <input type="text" formControlName="nombre" name="nombre" class="form-control" placeholder="Nombre de Catalogo" aria-describedby="helpId">
            </div>
            <div class="mb-2">
                <label for="" class="form-label">Descripción</label>
                <textarea type="text" formControlName="descripcion" name="descripcion" class="form-control" placeholder="Descripcion Catalogo (max 255 carácteres)" aria-describedby="helpId"></textarea>
            </div>
            <div class="mb-1">


                <label for="" class="form-label">Imagen:</label>
                <input class="form-control p-2" (change)="capturarFile($event)" name="imagen" type="file">
                <div class="preview-img" *ngIf="previsualizacion">
                    <button class="clear-image" type="button" (click)="clearImage()">Clear</button>
                    <img [src]="previsualizacion" alt="">
                </div>

                <div class="p-1">
                    <small>Se aceptan archivos imágenes de tipo *.png *.jpg *.tif </small>
                </div>


            </div>




            <div class="card-footer text-muted">
                <button type="submit" class="btn btn-success">Guardar Catalogo</button>
                <button type="button" class="btn btn-danger">Cancelar</button>
            </div>
        </form>

    </div>
</div>
<br><br><br><br><br>