<div class="div">
    <div class="card">
        <div class="formulario">
            <form class="form-horizontal" method="POST" action="src/assets/enviar/enviar.php">
                <h2 class="card-title">Contáctanos</h2>
                <div class="form-group">
                    <i class="fa fa-user mr-2"></i>
                    <label for="name">Nombre:</label>
                    <input id="fname" name="nombre" type="text" placeholder="Nombres y Apellidos" class="form-control">
                </div>
                <div class="form-group">
                    <i class="fa fa-envelope mr-2"></i>
                    <label for="name">Email:</label>
                    <input id="email" name="email" type="text" placeholder="Correo electrónico" class="form-control">
                </div>
                <div class="form-group">
                    <i class="fa fa-phone  mr-2"></i>
                    <label for="name">Teléfono:</label>
                    <input id="phone" name="telefono" type="text" placeholder="Teléfono" class="form-control">
                </div>
                <div class="form-group">
                    <i class="fa fa-comment mr-2"></i>
                    <label for="name">Mensaje:</label>
                    <textarea class="form-control" id="message" name="mensaje" placeholder="Por favor ingrese sus requerimientos o sugerencia, a la breveda le responderemos." rows="4"></textarea>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button class="btn btn-success btn-block" id="btn-send" type="submit">
                                   
                                    Enviar
                                </button>

                            </div>
                        </div>

                    </div>
                </div>
            </form>



        </div>


    </div>