<div class="row">

    <div class="container-fluid sociales">
        <ul class="navbar-nav d-flex flex-row float-right">
            <!-- Icons -->
            <!-- <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li> -->
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" href="https://twitter.com/SerdomSpa?s=20" target="_blank" data-toggle="tooltip" data-placement="top" title="Síguenos en Twtter">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" href="https://t.me/teste123j/3" target="_blank" data-toggle="tooltip" data-placement="top" title="Escribenos en Telegran">
                    <i class="fab fa-telegram"></i>
                </a>
            </li>
            <!-- <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </li> -->
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link" href="mailto:serdom@serdom.cl" data-toggle="tooltip" data-placement="top" title="serdom@serdom.cl">
                    <i class="fas fa-at"></i>
                </a>
            </li>

        </ul>


    </div>
    <!-- <div class="col">
        <h6>(+56) 9 83820094</h6>
    </div> -->
</div>