* {
    margin: 0;
    top: 0;
}

.encabezado,
.contenido,
.contenido-lateral {
    padding: 1em 2em;
}

.contenido,
.contenido-lateral,
.pie-pagina {
    float: left;
    box-sizing: border-box;
}

.encabezado {
    height: 100px;
}


/* .contenido-lateral {
        width: 40%;
        height: 500px;
        background-color: rgb(68, 96, 116);
    } */

.contenido {
    width: 100%;
}

.pie-pagina {
    bottom: 0;
    width: 100%;
    height: 50px;
    color: #1B262C;
    text-align: center;
    background-color: #FDCB9E;
}

.login-perfil p {
    margin-top: 10px;
    font-size: 15px;
}

body {
    background: #000000;
    color: #ffffff;
    background-color: #000000;
    background-image: linear-gradient(rgba(5, 7, 12, 0.55), rgba(5, 7, 12, 0.55)), url("assets/img/banner1.jpg");
    font-size: 16px;
    background-size: cover;
}

.img-carrusel-home {
    width: 100%;
    height: 60vh;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
    background-size: cover;
    object-fit: contain;
    z-index: 100;
}


/* .carousel-caption {
            background: linear-gradient(rgba(5, 7, 12, 0.3), rgba(5, 7, 12, 0.5));
        } */

.txtslide {
    font-size: 30px;
    font-weight: bold;
    color: chartreuse;
}

.logo {
    width: 150px;
    height: 35px;
    margin: auto;
}

.logo-footer {
    width: 120px;
    height: 35px;
    margin: auto;
}

.fab,
.fas {
    margin-right: 20px;
    color: turquoise;
}

.sociales {
    z-index: 1000;
    color: wheat;
}

.copyright {
    color: #00B7C2;
    background-color: #1B262C;
    font-size: 10px;
}

.container-mask {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 100%;
    height: 100%
}

h1 {
    font-size: 55px;
    text-align: center;
    color: #00B7C2;
}

h4 {
    font-size: 45px;
    margin-left: 20px;
    color: #FDCB9E
}

p {
    font-size: 35px;
    width: 90%;
    margin: auto;
}

section {
    background-color: #1B262C;
    color: #00B7C2;
    padding: 20px;
    margin: auto;
    text-align: justify;
}

section img {
    width: 50%;
    margin: auto;
    display: block;
}

.img-section-mision {
    margin-block: 20px;
    width: 90%;
    padding: 20px;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("assets/img/empresarios.jpg");
    background-size: cover;
    min-height: 50vh;
}

.img-section-vision {
    margin-block: 20px;
    width: 90%;
    padding: 20px;
    background: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.75)), url("assets/img/vision.jpeg");
    background-size: cover;
    min-height: 50vh;
}

.img-section-principios {
    margin-block: 20px;
    width: 90%;
    padding: 20px;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("assets/img/principios.jpg");
    background-size: cover;
    min-height: 50vh;
}

.img-section-elegirnos {
    margin-block: 20px;
    width: 90%;
    padding: 20px;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("assets/img/mejor.jpg");
    background-size: cover;
    min-height: 50vh;
}

.bg-imagen {
    background-image: url('/src/assets/img/telecomunicacion.jpeg');
    height: 600px;
}

section:hover {
    width: 95%;
    min-height: 45vh;
    background-color: rgb(68, 96, 116);
    color: white;
}

section h5 {
    margin-left: auto;
}

.img-carrusel {
    width: 150px;
}

.img-redonda {
    width: 200px;
    height: 200px;
    object-fit: cover;
    align-content: center center;
}

.card img {
    width: 100%;
    object-fit: contain;
    align-content: center center;
}

.container-contact {
    text-align: center;
}

iframe {
    width: 50vw;
    height: 60vh
}

.iconomap {
    color: red;
    font-size: 40px;
}

.iconocel {
    color: chartreuse;
}

.iconomail {
    color: blue;
}

.card-img-top {
    margin: 30px 30px;
    width: 60%;
    height: 40vh;
}

.btn-whatsapp {
    margin-top: 85vh;
    position: fixed;
    float: right;
    width: 55px;
    height: 55px;
    line-height: 50px;
    z-index: 100;
    margin-bottom: 50px;
    right: 40px;
    background: #42A948;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 1px 20px;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

form {
    width: 100%;
    margin: auto;
    background-image: linear-gradient(rgba(51, 58, 75, 0.4), rgba(117, 139, 194, 0.4));
    padding: 10px 10px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

.imagen-list {
    display: flex;
    width: 40px;
    height: 40px;
    align-self: stretch;
    object-fit: contain;
    box-sizing: border-box;
}

.carrusel-card {
    padding-block: 30px;
}

.imagen-carrusel {
    padding-top: 15px;
    display: flex;
    width: 150px;
    height: 80px;
    margin: auto;
    object-fit: contain;
    box-sizing: border-box;
}

.card button {
    margin: auto;
    align-content: space-between;
}

.item-tabla {
    color: rgb(63, 52, 52);
    font-size: 14px;
    font-weight: 100;
}

.fa-trash-alt,
.fa-file-pdf {
    margin-left: 20px;
    font-size: 25px;
    color: rgb(218, 3, 3);
}

.fa-edit,
.fa-clipboard {
    margin-left: 20px;
    font-size: 25px;
    color: green;
}

.card-img {
    display: flex;
    padding: 40px;
    margin: auto;
    width: 90%;
    height: 90%;
    object-fit: contain;
    box-sizing: border-box;
    max-width: 250px;
    max-height: 250px;
}


/* /////////////////////   media query */

@media all and (max-width: 1080px) {
    .img-carrusel-home {
        width: 100%;
        object-fit: contain;
    }
    form {
        width: 100%;
        padding: 10px 10px;
        margin: auto;
    }
}

@media screen and (max-width: 780px) {
    form {
        width: 100%;
        padding: 10px 10px;
        margin: auto;
    }
    .container-mask {
        width: 100vw;
        height: 100%;
    }
    .img-carrusel-home {
        width: 100%;
        height: 480;
        object-fit: contain;
    }
    h1 {
        font-size: 33px;
        text-align: center;
        color: #00B7C2;
    }
    h4 {
        font-size: 25px;
        margin-left: 20px;
        color: #FDCB9E
    }
    p {
        font-size: 20px;
        margin: auto;
    }
    iframe {
        width: 90%;
        height: 60vh
    }
}

@media screen and (max-width: 767px) {
    form {
        width: 100%;
        padding: 5px 5px;
        margin: auto;
    }
}

@media screen and (max-width: 480px) {
    form {
        width: 100%;
        padding: 5px 5px;
        margin: auto;
    }
    .container-mask {
        width: 100%;
        height: 100%;
    }
    .img-carrusel-home {
        width: 100%;
        height: 350;
        object-fit: cover;
    }
    h1 {
        font-size: 30px;
        text-align: center;
        color: #00B7C2;
    }
    h4 {
        font-size: 20px;
        margin-left: 20px;
        color: #FDCB9E
    }
    p {
        font-size: 15px;
        margin: auto;
    }
    iframe {
        width: 100%;
        height: 60vh
    }
    #btn-cfg,
    #btn-in,
    #btn-out,
    #perfil {
        visibility: hidden;
    }
}